<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="h2" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="org.h2.Driver"
                        connectionURL="jdbc:h2:file:/Users/minghungchen/Desktop/data/H2"
                        userId="sa"
                        password="">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.hung.ming.repo.entity"
                            targetProject="/Users/minghungchen/interview-91110836/repo/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="test.xml"  targetProject="/Users/minghungchen/interview-91110836/repo/src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.hung.ming.repo.mapper"
                             targetProject="/Users/minghungchen/interview-91110836/repo/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="MEMBER" domainObjectName="Member"/>
    </context>
</generatorConfiguration>
